# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv3/
ENV/
env.bak/
venv.bak/
pythonenv*
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
*.log
chatbot_model.pth
dimensions.json
